html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
#table-scroll {
    height:150px;
    overflow:scroll;  
    margin-top:20px;
    margin-bottom:20px;
}
#table-scroll2 {
    height:350px;
    overflow:scroll;  
    margin-top:20px;
    margin-bottom:20px;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}
td {
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
    height: 40px;
}
th {
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
    height: 40px;
}
table, th, td {

    border: 1px solid rgb(7, 52, 148);
}